<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Checker</title>
</head>
<body>
    <h2>Result Checker</h2>

    <form action="/submit" method="post">
        <label for="Science">Science</label>
        <input type="text" name="science" id="science" value="0"><br><br>
        <label for="Maths">Maths</label>
        <input type="text" name="maths" id="maths" value="0"><br><br>
        <label for="Science">Chemistry</label>
        <input type="text" name="chemistry" id="chemistry" value="0"><br><br>
        <label for="ComputerScience">Computer Science</label>
        <input type="text" name="computerscience" id="computerscience" value="0"><br><br>
        <input type="submit" name="submit">
    </form>


</body>
</html>
